#for coming soon page
NEXT_PUBLIC_COMING_SOON=false
NEXT_PUBLIC_COMING_SOON_TARGET_DATE=2026-04-01T10:00:00Z

#for maintainance mode
NEXT_PUBLIC_MAINTENANCE_MODE=false

# Stripe API keys for payment processing
STRIPE_SECRET_KEY=sk_test_your_secret_key
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_your_publishable_key
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret
# Environment choice for development and production (development or production)
NODE_ENV=development

# Basic authentication for admin user creation requests
ADMIN_USERNAME=your_admin_username
ADMIN_PASSWORD=your_admin_password
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Database connection details
DATA_BASE_HOST=127.0.0.1
DATA_BASE_PORT=3306
DATA_BASE_USER=db_user
DATA_BASE_PASSWORD=db_password
DATA_BASE_NAME=db_name

# Prisma database url and shadow database url for migrations
SHADOW_DATA_BASE_URL=mysql://db_user:db_password@127.0.0.1:3306/db_shadow
DATA_BASE_URL=mysql://db_user:db_password@127.0.0.1:3306/db_name

NEXTAUTH_SECRET=replace_with_long_random_secret
NEXTAUTH_URL=http://localhost:3000

# Email Related
EMAIL_HOST=mail.stn.com
EMAIL_PORT=465
EMAIL_USER=stn@stn.com
EMAIL_PASS=stn@stn.---
SMTP_SECURE=true

# Caching and revalidation settings
REVALIDATE_SECRET=TinaYeneBakeryRevalidateSecretKey@Tin_2026!
NEXT_PUBLIC_ISR_REVALIDATE_SECONDS=86400
